.u-section-1 .u-sheet-1 {
  min-height: 400px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-2 .u-group-1 {
  width: 1056px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.6);
  min-height: 420px;
  height: auto;
  margin: 357px 29px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 164px;
  height: 36px;
  margin: 45px auto 0 145px;
}

.u-section-2 .u-image-2 {
  width: 171px;
  height: 49px;
  margin: -42px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 54px;
  height: 54px;
  margin: -55px 366px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 67px;
  height: 42px;
  margin: -44px auto 0 338px;
}

.u-section-2 .u-image-5 {
  width: 212px;
  height: 42px;
  margin: -45px 420px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 51px;
  height: 154px;
  margin: -95px 40px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 59px;
  height: 59px;
  margin: -109px 314px 0 auto;
}

.u-section-2 .u-image-8 {
  width: 61px;
  height: 33px;
  margin: -44px 122px 0 auto;
}

.u-section-2 .u-image-9 {
  width: 62px;
  height: 62px;
  margin: -45px 216px 0 auto;
}

.u-section-2 .u-image-10 {
  width: 480px;
  height: 272px;
  margin: 52px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 600;
  margin: -264px 314px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 30px;
  height: 30px;
  margin: -39px 512px 0 auto;
}

.u-section-2 .u-line-1 {
  width: 8px;
  transform-origin: left center 0px;
  margin: -21px 526px 0 auto;
}

.u-section-2 .u-line-2 {
  width: 16px;
  transform-origin: left center 0px;
  margin: 5px 518px 0 auto;
}

.u-section-2 .u-line-3 {
  width: 12px;
  transform-origin: left center 0px;
  margin: 5px 523px 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 36px -3px 0 512px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 600;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px 0px 6px rgba(255,255,255,1);
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    height: 41px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-8 {
    height: 32px;
    margin-top: -45px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -44px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 280px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 214px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 328px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 510px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 538px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 39px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 22px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-2 .u-image-4 {
    height: 42px;
    margin-top: -48px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: 35px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: -98px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -183px;
    margin-right: auto;
    margin-left: 92px;
  }

  .u-section-2 .u-image-8 {
    height: 33px;
    margin-top: 31px;
    margin-right: 65px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -123px;
    margin-right: 86px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 193px;
    margin-top: 123px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 123px;
    margin-right: 36px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -48px;
    margin-right: 278px;
  }

  .u-section-2 .u-line-1 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-2 .u-line-3 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 19px;
    margin-left: 28px;
  }
}